body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.glyphicon-hidden {
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.text-results, .content-results {
    padding-left: 15px;
}
.red-color{
    color:red;
}
.orange-color{
    color:orange;
}
.green-color{
    color:green;
}
.content-results {
    padding-bottom: 15px;
}

.btn-submit-img {
    margin-top: 15px;
}

.panel-default .panel-heading {
    background-color: #7f8c8d;
    color: #f0f0f0;
}

.panel-default {
    border-color: #95a5a6;
}

footer {
    text-align: center;
}